<h1><%= current_player.name %>'s Dashboard</h1>
<ul>

<h2>Players you follow</h2>
	<% current_player.friendships.each do |friends| %>
				<li>
					<%= friends.friend.name %>
        	<%= link_to "Remove Friendship", {:action => 'destroy_friendship',:controller=>"players", :id => friends}, method: :get %> 
				</li>
	<% end %>

</ul>
<ul>
<h2>Players who follow you</h2>


	<% current_player.i_friends.each do |players| %>
    <li>

					<%= players.name %>
    </li>
  <% end %>
</ul>

