
<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<%= link_to "Login as #{@player.name}", player_player_sessions_path(@player), method: :post %> |

<%= link_to 'Edit', edit_player_path(@player) %> |

<%= link_to 'Back', players_path %>
